@font-face {
    font-family: 'andbasr';
    src:
        url('./assets/fonts/andbasr-webfont.woff2') format('woff2'),
        url('./assets/fonts/andbasr-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}



@font-face {
    font-family: 'dalekpinpoint';
    src:
        url('./assets/fonts/dalekpinpointbold-webfont.woff2') format('woff2'),
        url('./assets/fonts/dalekpinpointbold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'romanica';
    src:
        url('./assets/fonts/romanica-webfont.woff2') format('woff2'),
        url('./assets/fonts/romanica-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

/* 
Colour Palette:
--Timberwolf: #D3D3D3;
--Silver: #C0C0C0;
--Silver: #B4B4B4;
--Silver: #A9A9A9;
--OU Crimson: #8B2A2A;

--isabelline: hsla(40, 23%, 92%, 1);
--timberwolf: hsla(32, 21%, 83%, 1);
--battleship-gray: hsla(37, 6%, 58%, 1);
--coyote: hsla(40, 19%, 37%, 1);
--dark-moss-green: hsla(75, 62%, 23%, 1);
 */

/* General styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: minmax(265px, 1.3fr) 6fr;
    grid-template-rows: .4fr 4fr .2fr;
}

p,
button,
input,
button,
label {
    font-family: 'andbasr';
    font-size: 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 5px;
    border-radius: 6px;
    border: none;
    margin: 5px 0;
    text-align: left;
    font-size: 1.1em;
    background-color: #8B2A2A;
}

button:hover,
a:hover,
label:hover {
    cursor: pointer;
}

h2, h3, h4 {
    font-family: 'romanica';
}

h2 {
    font-size: 2em;
}

h4 {
    font-size: 1.2em;
}

.hidden {
    display: none;
}
/* header area */

.header {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    background-color: #A9A9A9;
    font-family: 'dalekpinpoint';
    text-align: center;
}

h1 {
    padding: 8px 12px;
    font-size: 3em;
}

/* sidebar area */

.sidebar {
    grid-row: 1 / 3;
    padding: 20px 12px;
    background-color: #C0C0C0;
}

.sidebar h3 {
    padding-bottom: 6px;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.sidebar > div:nth-of-type(2) > h3 {
    margin-bottom: 20px;
}

.sidebar > div {
    margin-bottom: 20px;
}

.sidebar-home > div,
.add-project,
.add-todo {
    display: flex;
    flex-direction: column;
}

.add-project, .add-todo {
    margin-top: 20px;
}

.project-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0;
    column-gap: 10px;
}

.nav-project-details {
    padding: 4px;
    visibility: hidden;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 40px;
    right: 0px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #D3D3D3;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0s 2s;
    pointer-events: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-item:hover > .nav-project-details {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition-delay: 2s;
    transition: opacity 1.5s ease-in-out, visibility 0s 0s;
}

.project-form, .todo-form {
    /* display: none; */
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
    background-color: #D3D3D3;
}

.project-form input[type="text"],
.todo-form input[type="text"],
.todo-form input[type="date"] {
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid black;
    outline: none;
}

.project-form > form > div:first-of-type {
    display: flex;
    flex-direction: column;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-buttons button {
    text-align: center;
    width: 60px;
    font-size: .9em;
}

.radio-buttons {
    margin-top: 5px;
}

.radio-buttons > div {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

.radio-img,
.project-img,
.more-img,
.todo-important-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

/* main content area */

.main-content {
    background-color: #D3D3D3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 2fr));
    gap: 30px;
    align-items: start;
    padding: 30px;
    overflow-x: auto;
    white-space: nowrap;
    grid-auto-flow: column;
}

.project-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    min-width: 350px;
    background-color: #A9A9A9;
    position: relative;
}

.project-container p,
.project-container h4 {
    white-space: normal;
}

.project-exit {
    position: absolute;
    top: 1px;
    right: 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

.todo-form > form {
    display: flex;
    flex-direction: column;
}

.todos-box > div:last-child {
    padding-bottom: 0;
}

.todos-box > div {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.todo-buttons {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-family: 'andbasr';
}

.todo-item-date {
    max-width: max-content;
    width: fit-content;
    padding: 0px 2px 2px 2px;
    margin: 6px 0px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'andbasr';
}

.todo-completed {
    height: 30px;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
        radial-gradient(25% 25% at 50% 25%,#000 24%,#fff 26% 99%,#0000 101%), 
        radial-gradient(25% 25% at 50% 75%,#fff 24%,#000 26% 99%,#0000 101%), 
        conic-gradient(#000 50%, #fff 0);
    border: 2px solid; 
}

.todo-important-img {
    margin: 0px;
}

.project-more,
.todo-more {
    position: relative;
    margin-left: auto;
}

.project-more:hover,
.todo-more:hover {
    cursor: pointer;
}

.edit-todo-btn,
.delete-todo-btn,
.edit-project-btn,
.delete-project-btn  {
    margin: 0px;
}

.more-options-project,
.more-options-todo {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 10px;
    flex-direction: column;
    background-color: #C0C0C0;
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}

.more-options-project.show,
.more-options-todo.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s 0s;
}

.more-options button {
    text-align: center;
    margin: 0px;
}

.todos-box button {
    padding-left: 0;
}

/* footer area */

.footer {
    grid-column: 1 / 3;
    background-color: #dcd3c9ff;
}