@font-face {
    font-family: 'andbasr';
    src:
        url('./assets/fonts/andbasr-webfont.woff2') format('woff2'),
        url('./assets/fonts/andbasr-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}



@font-face {
    font-family: 'dalekpinpoint';
    src:
        url('./assets/fonts/dalekpinpointbold-webfont.woff2') format('woff2'),
        url('./assets/fonts/dalekpinpointbold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'romanica';
    src:
        url('./assets/fonts/romanica-webfont.woff2') format('woff2'),
        url('./assets/fonts/romanica-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

/* 
Colour Palette:
--isabelline: #f0ede7ff;
--timberwolf: #dcd3c9ff;
--battleship-gray: #9b968eff;
--coyote: #70644cff;
--dark-moss-green: #4b5d16ff;

--isabelline: hsla(40, 23%, 92%, 1);
--timberwolf: hsla(32, 21%, 83%, 1);
--battleship-gray: hsla(37, 6%, 58%, 1);
--coyote: hsla(40, 19%, 37%, 1);
--dark-moss-green: hsla(75, 62%, 23%, 1);
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: .6fr 4fr .4fr;
}

p,
button {
    font-family: 'andbasr';
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 5px;
    border: none;
    font-size: 1.1em;
    background-color: #70644cff;
}

button:hover,
label:hover,
a:hover {
    cursor: pointer;
}

/* header area */

.header {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    background-color: #4b5d16ff;
    font-family: 'dalekpinpoint';
    text-align: center;
}

h1 {
    padding: 8px 12px;
    font-size: 3em;
}

/* sidebar area */

.sidebar {
    grid-row: 2 / 3;
    padding: 8px 12px;
    background-color: #70644cff;
}

h2, h3 {
    font-family: 'romanica';
}

h2 {
    font-size: 2em;
}

h3 {
    padding-bottom: 6px;
    border-bottom: 2px solid black;
    font-size: 1.5em;
}

.sidebar button {
    text-align: left;
    border-radius: 4px;
}

.sidebar > div {
    padding-top: 15px;
}

.sidebar > div > div {
    display: flex;
    flex-direction: column;
    transition: filter 0.3s ease; /* Smooth transition for brightness */
}

.sidebar > div > div:hover {
    filter: brightness(1.6);
}

/* main content area */

.main-content {
    background-color: #9b968eff;
    display: flex;
    row-gap: 12px;
}

.project-container {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    border-radius: 8px;
}

/* footer area */

.footer {
    grid-column: 1 / 3;
    background-color: #dcd3c9ff;
}